body{
  background-color: rgb(35, 30, 30);
  color: white;
}

.bg-lightgrey{
  background-color: #E5E5E5;
}

.fa-solid, .fa-magnifying-glass {
  color: #2A2E32;

}

/* procedimento per inserire l'icona all'interno dell'inout di ricerca */
.search-input {
  position: relative;
}

/* * padding per lasciare dello spazio alla barra di ricerca all'interno dell'input */
.search-input input[type="search"] {
  padding-left: 2.5rem !important;
}

/* posizionamento dell'icona */
.search-input .fa-magnifying-glass {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

.fa-bell {
  color: #FF8F00;

}





